body {
  user-select: none
}

.bg-wheat {
  background-color: rgb(255, 249, 237);
}

.bg-black {
  background-color: rgb(45, 43, 33);
}

.text-wheat {
  color: rgb(255, 249, 237);
}

.text-black {
  color: rgb(45, 43, 33);
}

.click-circle {
  border: solid 6vh;
  border-color: rgb(45, 43, 33);
  border-radius: 100%;
  background-color: rgb(45, 43, 33);
  height: 40vh;
  width: 40vh;
  cursor: pointer;
  box-shadow: 0px 20px 100px 4px rgb(45, 43, 33);
}

.shadow-count {
  border: solid 1px;
  border-color: rgb(255, 249, 237);
  border-radius: 20vh;
  height: 30vh;
  width: 30vh;
  background-color: rgb(255, 249, 237);
  box-shadow: 0px 20px 100px 4px rgb(45, 43, 33);
  position: relative;
  animation-name: float-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  color: rgb(45, 43, 33);
}

@keyframes float-in {
  from {
    top: -200px;
  }

  to {
    top: 0px;
    color: rgb(255, 249, 237);
    border-color: rgb(45, 43, 33);
    background-color: rgb(45, 43, 33);
  }
}